html {
	text-align: center;
background: #1E1E20;
color: rgba(222, 209, 169, 1);
	   font-family: 'Open Sans', sans-serif;
	   font-size: 1.3em;
}

body {
display: none;
}

html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

h1 {
	margin-top: 15%;
	font-size: 3.5em;
}

a {
	text-decoration: none;
color: #374140;
	   transition-property: all;
	   transition-duration: 0.3s;
}

a:hover {
color: #DC3522;
  }

a i {
	font-size: 2em;
}

.mail-t i {
	margin-right: 0.2%;
	margin-left: 0.2%;
color: #046380;
}

.mail-t {
color: #EFECCA;
}

#home , .project {
	height: 100%;
}

#home i {
	margin-top: 15%;
	font-size: 2em;
	display: none;
}

#content {
	padding-top: 2%;
}

.img {
	height: 20%;
}

.img2 {
	height: 40%;
	width: auto;
}

.img img {
	max-height: 100%;
	width: auto;
}

.img .p {
	margin-right: 5%;
	float: right;
	max-height: 100%;
	width: 30%;
	display: none;
}

.num {
	display: none;
}

.hr {
	border-bottom: 1px solid rgba(57, 57, 56, 1);
	margin-left: 45%;
	margin-right: 45%;
	margin-top: 1%;
	margin-top: 1%;
}

.title {
	margin-top: 18%;
	font-size: 1.6em;
}

#content i {
	margin-top: 10%;
	font-size: 2em;
}

.project h1 {
	padding-top: 2%;
	font-size: 2em;
	font-style: normal;
	font-weight: 500;
}

.project p {
	margin-left: 20%;
	margin-right: 20%;
	margin-bottom: 4%;
}

.project .no-margin {
	margin-bottom: 0;
}

.project img {
	margin-top: 2%;
	margin-bottom: 1%;
}

.project i {
	font-size: 2em;
	margin-top: 4%;
}

#contact {
	height: 100%;
	padding-top: 6%;
}

#contact a i {
	margin-right: 1%;
	margin-left: 1%;
}
